header{
    background-image: url("../img/pattern.png");
    background-color: rgb(69, 150, 250);
    background-size: auto 200%;
    background-position: top left;
}

#header-logo{
    height: 60px;
}

.img-wight-50{
    width: 49%;
    height: 400px;
    object-fit: cover;
    
    
}

ul{
    padding: 1rem;
}

a {
    text-decoration: none;
    color: rgb(69, 150, 250);
}

th{
    background-color: rgb(37, 194, 225);
    text-align: left;
    width: 15%;
    color: white;
}

.color-table{
    background-color: deepskyblue;
}

.grey{
    color: gray;
    font-weight: bold;
}

